.a-100{
    font-weight: 100;
}
.a-200{
    font-weight: 200;
}
.a-300{
    font-weight: 300;
}
.a-400{
    font-weight: 400;
}
.a-500{
    font-weight: 500;
}
.a-600{
    font-weight: 600;
}
.a-700{
    font-weight: 700;
}
.a-900{
    font-weight: 900;
}
.a-800{
    font-weight: 800;
}
a{
    color:inherit !important;
}
.a_service{
    aspect-ratio: 1/1;
}
input:focus{
    outline: none;
}