@media screen and (max-width: 768px) {
    .a_nav_link{
        display: none !important;
    }
     li a{
        font-size: 12px !important;
    }
    .Menu_icons{
        display: block !important;
        cursor: pointer !important;
        
    }
    .a_header_mobile{
        display: flex !important;
        align-items: center !important;
    }
    .a_col{
        width:15% !important;
    }
    .a_mobile_status li{
       line-height: 3 !important;
       margin-left: 30px !important; 
    }
    .a_mobile_status li a:hover{
        color: #0a97b0 !important;
    }
    .a_menu_li{
        display: none !important;
    }
    .a_menubar{
        display: block !important;
    }
    .a_top_header{
        display: flex !important;
       justify-content:center !important;
       align-items: center !important;
    }
    .a_top_header_box{
        padding: 0 !important;
        width:32% !important;
        gap:5px !important;

    }
    .a_top_header_box h6{
        width:12px !important;
        height: 12px !important;
    }
    .a_top_header_box h5,h6 {
        font-size: 8px !important;
    }
    /* about */
    .a_about{
        top:-25px !important;
    }
    .a_about_top{
        height: 150px !important;
    }
    /* track */
    .a_track_input input{
        padding:5px 20px !important;
    }
    .a_track_input button{
        padding:5px 30px !important;
    }
    /* contact */
    .a_contact{
        width: 100% !important;
    }
}